* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-color: #558b2f;
    color: white;
    padding: 1rem;
    position: relative;
    height: 70px;
}

header img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 20px;
}

header h1 {
    position: absolute;
    top: 15px;
    left: 70px;
    color: white;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.a1 {
    position: absolute;
    top: 25px;
    right: 340px;
}

.a2 {
    position: absolute;
    top: 25px;
    right: 210px;
} 

.a3 {
    position: absolute;
    top: 25px;
    right: 110px;
} 

.a4 {
    position: absolute;
    top: 25px;
    right: 20px;
} 

main {
    display: flex;
    position: relative;
    height: 1000px;
}

.text {
    width: 650px;
    height: 900px;
    padding-left: 20px;
    margin: 0px 60px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3 {
    color: #558b2f;
}

.text p {
    color: #19280f;
}

.img {
    width: 650px;
    height: 600px;
    padding-right: 10px;
    margin-top: 0;
    position: absolute;
    top: 50px;
    right: 50px;
}

.img img {
    width: 80%;
    height: 50%;
    border: #558b2f solid 2px;
    border-radius: 10px;
}

.img1:hover {
    transform: translateX(40px);
}

.img2:hover {
    transform: translateX(-40px);
}

.img3:hover {
    transform: translateX(40px);
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #558b2f;
    color: white;
}


@media screen and (max-width: 580px) {
    header, footer, .img  {
        visibility: hidden;
    }

    .text {
        width: 50%;
        font-size: xx-small;
    }
}

@media screen and (min-width: 580px) {
    header, footer {
        width: 100%;
        font-size: x-small;
    }

    .text {
        width: 20%;
        font-size: x-small;
    }

    .img {
        width: 20%;
        height: 50%;
    }
}

@media screen and (min-width: 720px) {
    header, footer {
        width: 100%;
        font-size: small;
    }

    .text {
        width: 30%;
        font-size: small;
    }

    .img {
        width: 30%;
        height: 50%;
    }
}

@media screen and (min-width: 1080px) {
    header, footer {
        width: 100%;
        font-size: medium;
    }

    .text {
        width: 40%;
        height: 90%;
        font-size: medium;
        position: absolute;
        top: 50px;
        left: 0px;
    }

    .img {
        width: 40%;
        height: 60%;
        position: absolute;
        top: 50px;
        right: 0px;
    }
}